---
const { id, mdn_link, title, description, example, codigo1 } = Astro.props
---

<article id={id}>
  <div class="titulo">
    <h2>{title}</h2>
    <a href={mdn_link} target="_blank"><img src = "./src/images/link.svg" title="abrir pseudoclase en MDN" alt="link a MDN"></a>
  </div>
  <div class="explanati">
    <div class="texto">
      <p set:html={description}></p>
    </div>
    <div class="codigo" set:html={codigo1}>

    </div>
  </div>
</article>

<style>
  article {
    width: 90%;
    margin: 1rem auto;
    border: 2px solid #888;
    border-radius: 1rem;
    padding: 1rem;
  }

  .titulo {
    display: flex;
  }

  .titulo h2 {
    color: indianred;
    font-size: 2rem;
  }

  .titulo a img {
    width: 0.8rem;
    padding-top: 1.2rem;
    margin-left: 0.75rem;
  }

  .explanati {
    margin-top: 0.5rem;
    display: flex;
    font-size: 0.9rem;
    color: #ccc;
    gap: 2rem;
  }

  .texto {
    width: 40%;
  }

  .codigo {
    width: 60%
  }

  pre {
    white-space: pre-line;
    width: 100%;
  }
  
</style>