---
import PCItem from "./PC_item.astro";
const allPC = await Astro.glob("../content/*.md")
---

<section class="main_content" id="pc-content">
  {
    allPC.map( (pseudoc) => (
      <PCItem id = {pseudoc.frontmatter.id}
              mdn_link = {pseudoc.frontmatter.mdn_link}
              title = {pseudoc.frontmatter.title}
              description = {pseudoc.frontmatter.description}
              codigo1 = {pseudoc.compiledContent()} />
    ) )
  }
</section>

<style>

section {
  background: #222;
  flex-grow: 0;
  
}
</style>